.checkoutProduct {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
<<<<<<< HEAD
  background-color: white;
=======
>>>>>>> 3465c6d8817a3598a2da056508c15e1113414b49
}

.checkoutProduct__info {
  padding-left: 20px;
}

<<<<<<< HEAD
.checkoutProduct__info>button {
=======
.checkoutProduct__info > button {
>>>>>>> 3465c6d8817a3598a2da056508c15e1113414b49
  background: #f0c14b;
  border: 1px solid;
  margin-top: 10px;
  border-color: #a88734 #9c7e31 #846a29;
  color: #111;
}

.checkoutProduct__image {
  object-fit: contain;
  width: 180px;
  height: 180px;
}

.checkoutProduct__rating {
  display: flex;
}

.checkoutProduct__title {
  font-size: 17px;
  font-weight: 800;
<<<<<<< HEAD
}
=======
}
>>>>>>> 3465c6d8817a3598a2da056508c15e1113414b49
